<div class="em-wizard-panel">
  <form class="form-horizontal">
    <fieldset>
      <legend>Confirmation</legend>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-9">
          <div class="alert alert-info" role="alert">
            <span class="fa fa-info-circle"></span> Please click `create` to create new service.
          </div>
        </div>
      </div>
      <!-- Service Name -->
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1">Service Name</label>
        <div class="col-sm-7">
          <span>{{vm.model.ServiceName}}</span>
        </div>
      </div>
      <!-- Service Type -->
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1">Service Type</label>
        <div class="col-sm-7">
          <span>{{vm.model.ServiceType}}</span>
        </div>
      </div>
      <!-- Owning Cluster -->
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1">Owning Cluster</label>
        <div class="col-sm-7">
          <span>{{vm.model.OwningCluster}}</span>
        </div>
      </div>
      <!-- Deployment Maps -->
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1">Map</label>
        <label class="col-sm-2">Environment</label>
        <label class="col-sm-2">Role</label>
        <label class="col-sm-3">Url</label>
        <div ng-repeat="map in vm.model.DeploymentMaps">
          <div class="col-sm-2 col-sm-offset-1">{{map.SelectedName}}</div>
          <div class="col-sm-2">{{map.SelectedEnvironment}}</div>
          <div class="col-sm-2">{{map.SelectedRole}}</div>
          <div class="col-sm-3">
            <a target="_newWin" href="{{map.loadBalancerUrl}}">{{map.loadBalancerUrl}}</a>
          </div>
          <br/>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-8">
      <span class="pull-right">
        <button id="backButton" type="button" wz-previous class="btn btn-default">
          Back
        </button>
        <button id="nextButton3" type="button" wz-next="vm.doAllTheThings()" class="btn btn-primary">
          Create
        </button>
      </span>
    </div>
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="col-md-12">
    <br />
  </div>

</div>