<div class="em-wizard-panel">
  <form name="form" id="DeploymentMapDetails" class="form-horizontal">
    <fieldset>
      <legend>Deployment Details</legend>
      <div class="col-sm-2 col-sm-offset-2">
        <label>Deployment Map</label>
      </div>
      <div class="col-sm-2">
        <label>Environment</label>
      </div>
      <div class="col-sm-3">
        <label>Role</label>
      </div>
      <div class="col-sm-12">&nbsp;</div>
      <div ng-repeat="selectedDeploymentMap in vm.model.DeploymentMaps">
        <div class="form-group" ng-class="{'has-error': form['SelectedDeploymentMap_{{$index}}'].$invalid || form['SelectedDeploymentMap_Environment_{{$index}}'].$invalid || form['SelectedDeploymentMap_ServerRole_{{$index}}'].$invalid}">
          <div class="col-sm-2 col-sm-offset-2">
            <select class="form-control" name="SelectedDeploymentMap_{{$index}}" required=""  ng-auto-focus ng-model="selectedDeploymentMap.SelectedName" ng-change="selectedDeploymentMap.IsNewRole=false">
              <option ng-repeat="deploymentMap in vm.deploymentMaps" value="{{deploymentMap.name}}">{{deploymentMap.name}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <select class="form-control" name="SelectedDeploymentMap_Environment_{{$index}}" required="" ng-model="selectedDeploymentMap.SelectedEnvironment">
              <option ng-repeat="environment in vm.findDeploymentMapByName(selectedDeploymentMap.SelectedName).environments" value="{{environment}}">{{environment}}</option>
            </select> 
          </div>
          <div class="col-sm-3" ng-if="!selectedDeploymentMap.IsNewRole">
            <select class="form-control" name="SelectedDeploymentMap_ServerRole_{{$index}}" required="" ng-model="selectedDeploymentMap.SelectedRole" ng-change="vm.serverRoleChanged(selectedDeploymentMap.SelectedRole, $index)">
              <option ng-repeat="serverRole in vm.findDeploymentMapByName(selectedDeploymentMap.SelectedName).roles" value="{{serverRole}}">{{serverRole}}</option>
            </select> 
          </div>
          <div class="col-sm-3" ng-if="selectedDeploymentMap.IsNewRole">
            <select class="form-control" name="SelectedDeploymentMap_ServerRole_{{$index}}" required="" ng-model="selectedDeploymentMap.SelectedRole">
              <option value="{{selectedDeploymentMap.SelectedRole}}">{{selectedDeploymentMap.SelectedRole}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-success" ng-click="vm.createNewServerRole($index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="vm.removeDeploymentMap($index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- end repeat -->
      <div class="col-sm-3 col-sm-offset-8">
        <button class="btn btn-success" ng-click="vm.addDeploymentMap()">
          <span class="glyphicon glyphicon-plus"></span> Add another deployment target</button>
      </div>
    </fieldset>
  </form>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-8">
      <span class="pull-right">
        <button type="button" wz-previous class="btn btn-default">
          Back
        </button>
        <button type="button" wz-next class="btn btn-primary" ng-disabled="!form.$valid">
          Next
        </button>
      </span>
    </div>
  </div>
</div>