<div class="em-wizard-panel">

  <div class="col-md-12">
    <h3>How would you like to configure your deployment map?</h3>
  </div>

  <form>
    <div class="form-group">

      <label class="col-sm-12 control-label text-left nowrap em-wizard-form-label">Deployment Maps:
        <span class="glyphicon glyphicon-asterisk mandatory"></span>
      </label>

      <div class="col-md-8" ng-repeat="selectedDeploymentMap in vm.selectedDeploymentMaps" style="margin-bottom: 10px;">
        <div class="col-md-11" style="padding-left: 0;">
          <div>
            <div class="col-md-6">
              <select class="form-control" name="SelectedDeploymentMap_{{$index}}" required="" ng-model="selectedDeploymentMap.SelectedName">
                <option ng-repeat="deploymentMap in vm.deploymentMaps" value="{{deploymentMap.name}}">{{deploymentMap.name}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="form-control" name="SelectedDeploymentMap_ServerRole_{{$index}}" required="" ng-model="selectedDeploymentMap.SelectedRole">
                <option ng-repeat="serverRole in vm.findDeploymentMapByName(selectedDeploymentMap.SelectedName).roles" value="{{serverRole}}">{{serverRole}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" ng-click="vm.removeDeploymentMap($index)">
            <span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
          <button class="btn btn-success" ng-click="vm.addDeploymentMap()">
            <span class="glyphicon glyphicon-plus"></span> Add</button>
        </div>
      </div>

      <div class="col-md-12">
        <br />
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="button" wz-previous class="btn btn-default">
            Back
          </button>
          <button type="button" wz-next class="btn btn-primary">
            Next
          </button>
        </div>
      </div>
    </div>
  </form>
</div>