<div class="em-wizard-panel">

  <div class="col-md-12">
    <h3>How would you like to configure your server role?</h3>
  </div>

  <!-- Server Role -->
  <div class="form-group">
    <label class="col-sm-12 control-label text-left nowrap em-wizard-form-label">Server Role:
      <span class="glyphicon glyphicon-asterisk mandatory"></span>
    </label>
    <div class="col-sm-8" ng-init="vm.createNewServerRole = vm.createNewDeploymentMap">
      <div class="radio">
        <label>
          <input type="radio" name="optradio" ng-value="true" ng-model="vm.createNewServerRole" ng-click="vm.createNewServerRole=true">Create new based on '{{vm.serviceName}}'
        </label>
      </div>
      <div class="radio" ng-show="!vm.createNewDeploymentMap">
        <label>
          <input type="radio" name="optradio" ng-value="false" ng-model="vm.createNewServerRole" ng-click="vm.createNewServerRole=false">Add to existing server role
        </label>
      </div>
    </div>
  </div>

  <!-- Existing Server Role -->
  <div class="form-group" ng-show="!vm.createNewServerRole">
    <label class="col-sm-12 control-label text-left nowrap em-wizard-form-label">Server Role:
      <span class="glyphicon glyphicon-asterisk mandatory"></span>
    </label>
    <div class="col-sm-8">
      <select class="form-control" name="DeploymentMaps" required="" ng-model="vm.serverRole">
        <option value="" selected="selected"></option>
        <option value="PlatformServices">BlueGreenTest</option>
      </select>
    </div>
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" wz-previous class="btn btn-default">
        Back
      </button>
      <button type="button" wz-next class="btn btn-primary">
        Next
      </button>
    </div>
  </div>

</div>