<div class="em-wizard-panel">
  <form class="form-horizontal">
    <fieldset>
      <legend>Service Details</legend>
      <!-- Service Name -->
      <div class="form-group">
        <label for="serviceName" class="col-sm-2 col-sm-offset-2">Service Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="serviceName" placeholder="Service Name" ng-model="vm.model.ServiceName">
        </div>
      </div>

      <!-- Owning Cluster -->
      <div class="form-group">
        <label for="owningCluster" class="col-sm-2 col-sm-offset-2">Owning Cluster</label>
        <div class="col-sm-6">
          <select class="form-control" name="owningCluster" required="" ng-model="vm.model.OwningCluster">
            <option ng-repeat="cluster in vm.owningClusters" value="{{cluster}}">{{cluster}}</option>
          </select>
        </div>
      </div>

      <!-- Type of Service -->
      <div class="form-group">
        <label for="serviceTypeSelector" class="col-sm-2 col-sm-offset-2">Type of Service</label>
        <div class="col-sm-6">
          <div class="radio">
            <label>
              <input type="radio" name="serviceTypeSelector" id="serviceTypeSelectorHttp" value="HttpService" checked ng-model="vm.model.ServiceType"> HTTP Service
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="serviceTypeSelector" id="serviceTypeSelectorNonHttp" value="HttpService" checked ng-model="vm.model.ServiceType"> Service Worker
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-8">
      <span class="pull-right">
        <button type="button" wz-previous class="btn btn-default">
          Back
        </button>
        <button type="button" wz-next class="btn btn-primary">
          Next
        </button>
      </span>
    </div>
  </div>
</div>