<div class="em-wizard-panel">

  <div class="col-sm-12" ng-repeat="task in vm.result" style="margin-bottom:5px;">
    <span style="margin-top:0;">
      <span class="text-center fa fa-spinner fa-spin"></span>&nbsp;&nbsp;{{task.Name}}
    </span>
    <div ng-if="task.SubTasks.length">
      <div ng-repeat="subTask in task.SubTasks" style="margin-top:5px;">
        <span style="margin-top:0; margin-left: 30px">
          <span class="text-center fa fa-spinner fa-spin"></span>&nbsp;&nbsp;{{ subTask }}
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="col-sm-12">
    Please <a href="#">click here</a> to download your package
  </div>

</div>