<div class="em-wizard-panel">
  <div class="col-md-12">
    <h3>Summary</h3>
  </div>

  <div class="form-group">
    <span class="text-right col-sm-1 glyphicon glyphicon-check"></span>
    <label class="col-sm-11">Creating your upstream!
    </label>
  </div>

  <div class="form-group">
    <span class="text-right col-sm-1 glyphicon glyphicon-check"></span>
    <label class="col-sm-11">Creating your load balancer settings!
    </label>
  </div>

  <div class="form-group">
    <span class="text-right col-sm-1 glyphicon glyphicon-check"></span>
    <label class="col-sm-11">Deploying hello world service!
    </label>
  </div>

  <br />

  <div class="form-group">
    <a href="#">Please click here to download your package</a>
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" wz-previous class="btn btn-default">
        Back
      </button>
      <button type="button" wz-next class="btn btn-primary">
        Next
      </button>
    </div>
  </div>

</div>