<div class="em-wizard-panel">
  <div class="col-sm-12">
    <h3 style="margin-top:0">
      <span class="text-center fa fa-spinner fa-spin"></span>&nbsp;
      Creating your upstream!
    </h3>
  </div>

  <div class="col-sm-12">
    <h3 style="margin-top:0">
      <span class="text-center fa fa-spinner fa-spin"></span>&nbsp;
      Creating your load balancer settings
    </h3>
  </div>

  <div class="col-sm-12">
    <h3 style="margin-top:0">
      <span class="text-center fa fa-spinner fa-spin"></span>&nbsp;
      Deploying hello world service!
    </h3>
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="col-sm-12">
    Please
    <a href="#">click here</a> to download your package
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" wz-previous class="btn btn-default">
        Back
      </button>
      <button type="button" wz-next class="btn btn-primary">
        Next
      </button>
    </div>
  </div>

</div>