<div class="em-wizard-panel">

  <div class="col-md-12">
    <h3>What team do you belong to?</h3>
  </div>

  <!-- Owning Cluster -->
  <div class="form-group">
    <label class="col-sm-12 control-label text-left nowrap em-wizard-form-label">Owning Team:
      <span class="glyphicon glyphicon-asterisk mandatory"></span>
    </label>
    <div class="col-sm-8">
      <select class="form-control" name="OwningClusters" required="" ng-model="vm.OwningCluster">
        <option ng-repeat="cluster in vm.owningClusters" ng-selected="true" value="{{cluster}}" selected="selected">{{cluster}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-12">
    <br />
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" wz-previous class="btn btn-default">
        Back
      </button>
      <button type="button" wz-next class="btn btn-primary">
        Next
      </button>
    </div>
  </div>

</div>