<div class="row">
  <div class="col-md-12">
    <h2>Deploy a new service</h2>
  </div>
  <div id="RefreshData">
    <span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()" title="Refresh data"></span>
  </div>
</div>

<hr />

<spinner ng-if="vm.dataLoading"></spinner>

<div>

  <wizard on-finish="vm.finishedWizard()" on-cancel="vm.cancelledWizard()">

    <!-- Service Details -->
    <wz-step wz-title="Service Details">
      <ng-include src="'/app/deploy/views/service-details.html'" />
    </wz-step>

    <!-- Deployment Map Details -->
    <wz-step wz-title="Deployment Map Details">
      <ng-include src="'/app/deploy/views/deploymentmap-details.html'" />
    </wz-step>

    <!-- Server Role Details -->
    <wz-step wz-title="Server Role Details">
      <ng-include src="'/app/deploy/views/serverrole-details.html'" />
    </wz-step>

    <!-- Infrastructure Details -->
    <wz-step wz-title="Infrastructure Details" wz-disabled="{{!vm.createNewServerRole}}">
      <ng-include src="'/app/deploy/views/infrastructure-details.html'" />
    </wz-step>

    <!-- Infrastructure Details -->
    <wz-step wz-title="Infrastructure Details" wz-disabled="{{(vm.selectedServerRoleType !== 'Custom')}}">
      <ng-include src="'/app/deploy/views/infrastructure-custom-details.html'" />
    </wz-step>

    <!-- Environment Details -->
    <wz-step wz-title="Environment Details">
      <ng-include src="'/app/deploy/views/environment-details.html'" />
    </wz-step>

  </wizard>
</div>