<spinner ng-if="vm.dataLoading"></spinner>
<div ng-if="!vm.dataLoading">

  <wizard on-finish="vm.finishedWizard()" on-cancel="vm.cancelledWizard()">

    <!-- Service Details -->
    <wz-step wz-title="Service">
      <ng-include src="'/app/deploy/views/service-details.html'" />
    </wz-step>

    <!-- Deployment Map/Service Role Details -->
    <wz-step wz-title="Deployment">
      <ng-include src="'/app/deploy/views/deploymentmap-details.html'" />
    </wz-step>
    <!-- Summary Details -->
    <wz-step wz-title="Confirmation">
      <ng-include src="'/app/deploy/views/confirm-details.html'" />
    </wz-step>

    <!-- Summary Details -->
    <wz-step wz-title="Summary">
      <ng-include src="'/app/deploy/views/summary-details.html'" />
    </wz-step>

  </wizard>

</div>