<div class="modal-header">
  <h2>Create New Server Role</h2>
</div>
<div class="modal-body">
  <form name="form" id="DeploymentTarget" class="form-horizontal">
    <h3>What type of operating system do you need?</h3>
    <div class="form-group">
      <label class="col-sm-12 control-label text-left inline-radio nonbold">
        <input name="operatingSystemSelector" type="radio" ng-model="vm.selectedPlatform" value="windows" /> Windows
      </label>
      <label class="col-sm-12 control-label text-left inline-radio nonbold">
        <input name="operatingSystemSelector" type="radio" ng-model="vm.selectedPlatform" value="linux"> Linux
      </label>
    </div>
    <h3>What size would you like the server to be?</h3>
    <div class="form-group">
      <label class="col-sm-12 control-label text-left inline-radio nonbold">
        <input name="serverSizeSelector" type="radio" ng-model="vm.selectedPlatformSize" value="small" /> Small
      </label>
      <label class="col-sm-12 control-label text-left inline-radio nonbold">
        <input name="serverSizeSelector" type="radio" ng-model="vm.selectedPlatformSize" value="medium" /> Medium
      </label>
      <label class="col-sm-12 control-label text-left inline-radio nonbold">
        <input name="serverSizeSelector" type="radio" ng-model="vm.selectedPlatformSize" value="large"> Large
      </label>
    </div>
    <h3>What would you like to name the new server role?</h3>
    <div class="form-group">
      <label class="col-sm-12 control-label text-left inline-radio nonbold">
        <input name="serverRoleNameSelector" type="text" ng-model="vm.selectedServerRoleName" />
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id="cancelServerRole" class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
  <button id="saveServerRole" class="btn btn-success" type="button" ng-click="vm.ok()">Create</button>
</div>